<p>Create a job opening</p>


<%= form_for(Job.new) do |f| %>
  <%= f.label :employer_name %>:
  <%= f.text_field :employer_name %><br />
  
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.submit %>
<% end %>